.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.cards {
  flex-grow: 1;
  font-family:  "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 100%;
}
