.item-modal__close {
  background-image: url(../../assets/preview-btn.png);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50px;
  right: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.modal__delete-btn {
  background: none;
  color: #ff4d00;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  position: absolute;
  bottom: 93px;
  right: 30px;
}

.modal__image {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.modal__content_type_confirm {
  text-align: center;
  margin-bottom: -18px;
}

.modal__confirm-text {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 18px;
}

.modal__button_delete {
  display: block;
  margin: 0 10px auto;
  border: none;
  color: #ff4d00;
  cursor: pointer;
  margin-bottom: 18px;
  margin: 0 auto;
}

.modal__button_cancel {
  margin: 0 auto;
  display: block;
  border: none;
  cursor: pointer;
 margin-top: 18px;
}
